.box {
	min-height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid white;
	background-color: #006cfa;
	padding: 3px;
	color: white;
	width: 100%;
}

[class*="col"] [class*="col"] .box {
	background-color: #00e165;
}

[class*="col"] [class*="col"] [class*="col"] .box {
	background-color: skyblue;
}

h1, h2 {
	font-size: 1.5rem;
	font-weight: bold;
}